@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
/* Background pattern from Toptal Subtle Patterns */

* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-image: url("img/pink dust.png");
}

.error {
    color: red;
    margin-top: 10px;
    margin-bottom: 10px;
}

.wrapper {
	background-color: white;
	height: auto;
	position: absolute;
	top: 50%;
	left: 50%;
    text-align:center;
    transform: translate(-50%, -50%);
    border: 3px solid lightskyblue;
    margin: auto;
    padding: 16px;
}


input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 4px 0;
    display: inline-block;
    box-sizing: border-box;
    border-image-source: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    border-width: 2px;
    border-image-slice: 1;
    border-right: none;
    border-top: none;
    border-left: none;
}

#loginBtn, #registerBtn {
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

input[type=submit]:hover {
    opacity: 0.8;
    transition: opacity .2s ease-out;
    -moz-transition: opacity .2s ease-out;
    -webkit-transition: opacity .2s ease-out;
    -o-transition: opacity .2s ease-out;
}

#link {
    color: black;
    text-decoration: none;
    padding: 10px; 
}

.registerWrapper {
    background-color: white;
	position: absolute;
	top: 50%;
	left: 50%;
    text-align:center;
    transform: translate(-50%, -50%);
    border: 3px solid lightskyblue;
    margin: auto;
    padding: 16px;
}

.key-icon, .user-icon {
    position: relative;
    bottom: 40px;
    left: 120px;
    background-color: white;
    width: 30px;
    height: 30px;
}



